@font-face {
font-family: 'font';
src: url('https://libenovka.github.io/sys/font.ttf') format('truetype');
}
body {
font-family: arial;
font-family: 'font', sans-serif;
background-color: #00f;
}
.site {
display: block;
margin: 0 auto;
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
}
.content {
color: #00f;
background-color: #fff;
width: 1111px;
hyphens: auto;
word-wrap: break-word;
overflow-wrap: break-word;
padding: 10px;
}
.star {
text-align: center;
}
