body {
font-family: arial;
font-family: 'font', sans-serif;
background-color: #00f;
}
.site {
display: flex;
margin: 0 auto;
gap: 10px;
align-items: flex-start;
justify-content: space-between;
background-color: #fff;
padding: 10px;
width: 1200px;
}
.content {
color: #00f;
hyphens: auto;
word-wrap: break-word;
overflow-wrap: break-word;
text-align: left;
width: 100%;
}
.star {
text-align: center;
position: sticky;
top: 10px;
flex-shrink: 0;
}
